<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gingold.basislibrary">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--读取储存-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--写入储存-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--IP地址获取-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

</manifest>
